<% layout('layouts/boilerplate') %>
    <h1>Login</h1>
    <form action="/Login" method="post" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <textarea class="form-control" type="text" id="username" name="username" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <textarea class="form-control" type="password" id="password" name="password" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success">Login</button>
    </form>